/faceReconnation/temp.png
/MLNumber/temp.png
/expressApp/package-lock.json
/faceReconnation/know/remi.jpg
/expressApp/upload/
/expressApp/node_modules/
/faceReconnation/know/victorien.jpg
/faceReconnation/know/valerie.jpg
/expressApp/dist/
/gateway/node_modules/
/auth/.idea/.gitignore
/auth/.idea/auth.iml
/auth/.idea/modules.xml
/gateway/package-lock.json
/auth/.idea/inspectionProfiles/Project_Default.xml
/faceReconnation/know/remi2.jpg
/gateway/dist/server.js
/expressApp/temp.png
/auth/.idea/vcs.xml
/expressApp/views/render/.browserslistrc
/expressApp/views/render/.editorconfig
/expressApp/views/render/.gitignore
/expressApp/views/render/angular.json
/expressApp/views/render/karma.conf.js
/expressApp/views/render/package.json
/expressApp/views/render/package-lock.json
/expressApp/views/render/README.md
/expressApp/views/render/tsconfig.app.json
/expressApp/views/render/tsconfig.json
/expressApp/views/render/tsconfig.spec.json
