/faceReconnation/temp.png
/MLNumber/temp.png
/render/package-lock.json
/faceReconnation/know/remi.jpg
/render/upload/
/render/node_modules/
/faceReconnation/know/victorien.jpg
/faceReconnation/know/valerie.jpg
/render/dist/
/gateway/node_modules/
/auth/.idea/.gitignore
/auth/.idea/auth.iml
/auth/.idea/modules.xml
/gateway/package-lock.json
/auth/.idea/inspectionProfiles/Project_Default.xml
/faceReconnation/know/remi2.jpg
/gateway/dist/server.js
/render/temp.png
/auth/.idea/vcs.xml
/render/views/render/.browserslistrc
/render/views/render/.editorconfig
/render/views/render/.gitignore
/render/views/render/angular.json
/render/views/render/karma.conf.js
/render/views/render/package.json
/render/views/render/package-lock.json
/render/views/render/README.md
/render/views/render/tsconfig.app.json
/render/views/render/tsconfig.json
/render/views/render/tsconfig.spec.json
