<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/style/style.css" />
    <script src="assets/script/draganddrop.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<main>
<canvas id="myCanvas"></canvas>
</main>
<div id="drop_file_zone" ondrop="upload_file(event)" ondragover="return false">
    <div id="drag_upload_file">
        <p>Drop file(s) here</p>
        <p>or</p>
        <p><input type="button" value="Select File(s)" onclick="file_explorer();" /></p>
        <input type="file" id="selectfile" multiple />
    </div>
</div>
</body>
<script>
    let socket = io("http://localhost:3000");

    socket.on("predict", (number) => {
        const p = document.createElement("p");
        document.querySelector("main").appendChild(p)
        p.innerHTML = number
    })
    socket.on("face", (data) => {
        const canvas = document.getElementById("myCanvas");
        const ctx = canvas.getContext("2d")
        ctx.fillStyle = "#FF0000";
        canvas.width = 1000
        canvas.height = 700
        data.names.forEach(name => {
            console.log(data.landmarks[name])
            Object.values(data.landmarks[name]).forEach(values => {
                values.forEach(XY => {
                    ctx.fillRect(XY[0], XY[1], 1, 1);
                })
            })
        })
    })

    navigator.mediaDevices.getUserMedia({ video: true, audio: true })
    .then((video) => {
        const track = video.getVideoTracks()[0]
        setInterval(() => {
            let imageCapture = new ImageCapture(track)
            imageCapture.takePhoto().then((image) => {
                let form_data = new FormData()
                form_data.append('file', image)
                // let xhttp = new XMLHttpRequest();
                // xhttp.open("POST", "/face", true);
                // xhttp.onload = () => {
                //     console.log(this.responseText)
                // }
                // xhttp.send(form_data);
                fetch("/face", {method: "POST", body: form_data}).then(data => {
                    data.json().then(json => console.log(json))
                })
            })
        }, 1000)
    })
</script>
</html>