<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="assets/style/style.css" />-->
<!--    <script src="assets/script/draganddrop.js" defer></script>-->
<!--    <script src="/socket.io/socket.io.js"></script>-->
<!--    <script src="assets/script/script.js" defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<main>-->
<webcam
  [trigger]="invokeObservable"
  (imageCapture)="captureImg($event)"
  (initError)="handleInitError($event)"
></webcam>
    <canvas #myCanvas></canvas>
    <h2 [innerText]="h2"></h2>
<!--</main>-->
<input type="file" id="selectfile" (change)="ajax_file_upload($event)"/>
<!--</body>-->
<!--</html>-->
