<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="assets/style/style.css" />-->
<!--    <script src="assets/script/draganddrop.js" defer></script>-->
<!--    <script src="/socket.io/socket.io.js"></script>-->
<!--    <script src="assets/script/script.js" defer></script>-->
<!--</head>-->
<!--<body>-->
<!--<main>-->
    <canvas id="myCanvas"></canvas>
    <h2></h2>
<!--</main>-->
<div id="drop_file_zone" ondrop="upload_file(event)" ondragover="return false">
    <div id="drag_upload_file">
        <p>Drop file(s) here</p>
        <p>or</p>
        <p><input type="button" value="Select File(s)" onclick="file_explorer();" /></p>
        <input type="file" id="selectfile"/>
    </div>
</div>
<!--</body>-->
<!--</html>-->
